[submodule "fpga"]
	path = fpga
	url = git@github.com:m4j0rt0m/rtl-develop-template-fpga-test.git
[submodule "synthesis"]
	path = synthesis
	url = git@github.com:m4j0rt0m/rtl-develop-template-synthesis.git
[submodule "simulation"]
	path = simulation
	url = git@github.com:m4j0rt0m/rtl-develop-template-simulation.git
