----------------------------------------------------------------
 File:         project.config                                    
 Description:  Project configuration file                        
 URL:          https://github.com/m4j0rt0m/rtl-develop-template  
----------------------------------------------------------------

---Project name and the rtl top module(s:in case of multiple rtl synthesis)
[*] project = matrix_example
[*] rtl_top = matrix

---Specify the RTL synthesis tool (quartus / yosys / vivado (wip) / cadence (wip))
---and synthesis configuration for each tool (more than one clock source -> wip)
[*] rtl_synth_tools = quartus yosys
[*] rtl_synth_uses_clk = yes
[*] rtl_synth_clk_src = clk_i
[*] rtl_synth_quartus_target = Cyclone V
[*] rtl_synth_quartus_device = 5CSEBA6U23I7
[*] rtl_synth_quartus_clk_period = 10
[*] rtl_synth_yosys_target = ice40
[*] rtl_synth_yosys_device = hx8k
[*] rtl_synth_yosys_clk_mhz = 12

---Specify the simulation tool to use (iverilog / verilator (wip) / modelsim (wip))
---also, specify the simulation top modules (it can be several test modules (wip))
[*] sim_modules = matrix_tb
[*] sim_tool = iverilog
[*] sim_create_vcd = yes
[*] sim_open_wave = yes

---Specify the FPGA test configuration
[*] fpga_top = matrix
[*] fpga_virtual_pins = yes
[*] fpga_board_test = no
[*] fpga_uses_clk = yes
[*] fpga_clk_src = clk_i
[*] fpga_synth_altera = yes
[*] fpga_synth_lattice = yes

---Altera FPGA configuration
[*] fpga_altera_target = Cyclone IV E
[*] fpga_altera_device = EP4CE22F17C6
[*] fpga_altera_package = normal
[*] fpga_altera_min_temp = 0
[*] fpga_altera_max_temp = 85
[*] fpga_altera_clk_period = 20

---Lattice FPGA configuration (wip)
[*] fpga_lattice_target = ice40
[*] fpga_lattice_device = hx1k
[*] fpga_lattice_package = tq144
[*] fpga_lattice_clk_mhz = 12

---Xilinx FPGA configuration (wip)

---FPGA RTL simulation
[*] fpga_sim_altera = no
[*] fpga_sim_lattice = no

---Altera FPGA RTL simulation configuration (iverilog / verilator (wip) / modelsim (wip))
[*] sim_modules_altera = 
[*] sim_tool_altera = iverilog
[*] sim_create_vcd_altera = no
[*] sim_open_wave_altera = no

---Lattice FPGA RTL simulation configuration (iverilog / verilator (wip) / modelsim (wip))
[*] sim_modules_lattice = 
[*] sim_tool_lattice = iverilog
[*] sim_create_vcd_lattice = no
[*] sim_open_wave_lattice = no
